<div class="home-container">
  <h1>Moody Movies</h1>
  <div>
    <a [routerLink]="['/random-fun']">Get some random fun!</a>
    <a [routerLink]="['/random-surprise']">Get a surprise!</a>
    <a [routerLink]="['/questionnaire']">Get a personalized choice!</a>
    <div class="category-choice">See all from a category:
      <form ngForm (ngSubmit)="onSubmit()">
        <input type="radio" id="anime" name="funType" value="anime" [(ngModel)]="funType" checked>
        <label class="radio-label-left" for="anime">anime</label>
        <input type="radio" id="game" name="funType" value="games" [(ngModel)]="funType">
        <label class="radio-label-left" for="game">game</label>
        <input type="radio" id="movie" name="funType" value="movies" [(ngModel)]="funType">
        <label class="radio-label-left" for="movie">movie</label>
        <input type="radio" id="series" name="funType" value="series" [(ngModel)]="funType">
        <label for="series">series</label>
        <input type="submit" value="Submit">
      </form>
    </div>
    <a [routerLink]="['/all']">Browse all the categories!</a>
  </div>
  <div>
    <img src="" alt="">
  </div>

</div>

