<div class="fun-list-container">
  <h3 *ngIf="filterFunList('anime').length > 0">Anime</h3>
  <div class="fun-list">
    <div *ngFor="let fun of filterFunList('anime'), let i = index">
      <div class="fun-item" [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
  <h3 *ngIf="filterFunList('game').length > 0">Game</h3>
  <div class="fun-list">
    <div *ngFor="let fun of filterFunList('game'), let i = index">
      <div class="fun-item" [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
  <h3 *ngIf="filterFunList('movie').length > 0">Movie</h3>
  <div class="fun-list">
    <div *ngFor="let fun of filterFunList('movie'), let i = index">
      <div class="fun-item"  [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
  <h3 *ngIf="filterFunList('series').length > 0">Series</h3>
  <div class="fun-list">
    <div *ngFor="let fun of filterFunList('series'), let i = index">
      <div class="fun-item" [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
</div>
