<div class="fun-list-container">
  <h3 *ngIf="filterFunList('anime').length > 1">Anime</h3>
  <div [ngClass]="(filterFunList('anime').length === 1) ? 'single-fun' : 'fun-list'">
    <h3 *ngIf="filterFunList('anime').length === 1">Anime</h3>
    <div *ngFor="let fun of filterFunList('anime'), let i = index">
      <div class="fun-item" [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
  <h3 *ngIf="filterFunList('game').length > 1">Games</h3>
  <div [ngClass]="(filterFunList('game').length === 1) ? 'single-fun' : 'fun-list'">
    <h3 *ngIf="filterFunList('game').length === 1">Game</h3>
    <div *ngFor="let fun of filterFunList('game'), let i = index">
      <div class="fun-item" [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
  <h3 *ngIf="filterFunList('movie').length > 1">Movies</h3>
  <div [ngClass]="(filterFunList('movie').length === 1) ? 'single-fun' : 'fun-list'">
    <h3 *ngIf="filterFunList('movie').length === 1">Movie</h3>
    <div *ngFor="let fun of filterFunList('movie'), let i = index">
      <div class="fun-item"  [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
  <h3 *ngIf="filterFunList('series').length > 1">Series</h3>
  <div [ngClass]="(filterFunList('series').length === 1) ? 'single-fun' : 'fun-list'">
    <h3 *ngIf="filterFunList('series').length === 1">Series</h3>
    <div *ngFor="let fun of filterFunList('series'), let i = index">
      <div class="fun-item" [id]="i">
        <p>{{ fun.title }}</p>
        <a [routerLink]="['/', fun.funType, i]" [state]="fun">
          <img [src]="['../../../assets/' + fun.poster]" alt="{{ fun.title }}">
        </a>
      </div>
    </div>
  </div>
</div>
