.fun-list-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  background-color:  #176f79;
  border-radius: 5px;
  padding: 0 25px;
}

.single-fun-container {
  box-sizing: border-box;
  max-width: 1370px;
  margin: 0 auto;
  background-color:  #176f79;
  border-radius: 5px;
  height: 100%;
  padding: 0 15px;
}

h3 {
  margin: 0;
  padding: 25px;
  font-size: 25px;
  text-align: center;
}

.fun-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-fun {
  display: inline-block;
}

.fun-item {
  width: 300px;
  height: 420px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: ghostwhite;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.fun-item p {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: black;
  justify-content: center;
}

img {
  display: block;
  width: 200px;
  max-height: 280px;
  margin: 15px auto;
  border-radius: 5px;
}
