<div class="details-container">
  <app-header></app-header>
  <h1>{{ chosenFun.title }}</h1>
  <div class="fun-container">
    <div class="poster">
      <img [src]="['../../../assets/' + chosenFun.poster]" alt="{{ chosenFun.title }}">
    </div>
    <div class="details">
      <p><span>Genre: </span>{{ chosenFun.genre }}</p>
      <p><span>Runtime: </span>{{ runtime }}</p>
      <p><span>Year: </span>{{ chosenFun.year }}</p>
      <p><span>Director: </span>{{ chosenFun.director }}</p>
      <p><span>Producer: </span>{{ chosenFun.producer }}</p>
      <p><span>Actors: </span>
        <span *ngFor="let actor of chosenFun.actors, let i = index">
          <span *ngIf="i < chosenFun.actors.length - 1">{{ actor }}, </span>
          <span *ngIf="i === chosenFun.actors.length - 1">{{ actor }}</span>
        </span>
      </p>
    </div>
    <div class="plot"><span>Plot: </span>{{ chosenFun.plot }}</div>
    <div class="iframe-container">
      <iframe [src]="trailerUrl" allow="accelerometer; autoplay; encrypted-media;
        gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>

</div>
